.container {
    margin: auto;
    width: 60vw;
    padding: 30px;
    border: solid 2px #ccc;
    border-radius: 3px;
}

@media only screen and (max-width:720px) {
    .container {
        width: 75vw;
    }
}